[submodule "impure/emacs"]
	path = impure/emacs
	url = https://github.com/Apeiros-46B/emacs
[submodule "impure/awesome"]
	path = impure/awesome
	url = https://github.com/Apeiros-46B/awesome-dots
[submodule "impure/nvim"]
	path = impure/nvim
	url = https://github.com/Apeiros-46B/nvim
[submodule "impure/quickshell"]
	path = impure/quickshell
	url = https://github.com/Apeiros-46B/diatom
